<header>
  <section class="content">
    <div class="book-information">
      <h1 class="title ac" v-text="book">GOLD</h1>
      <h2 class="writer ac">By Chris Cleave</h2>
      <h3 class="publishing-date ac">Published Jun 2012 , 368 pages</h3>
      <p class="recommadations ac">
        <a href="#" class="btn font-signpainter">ADD TO MY QUEUE</a>
        <a href="#" class="btn font-brandon">I'VE READ IT</a>
        <a href="#" class="btn font-arial">NO THANKS</a>
        <a href="#" class="btn">love</a>
      </p>
    </div>
  </section>
</header>
<nav>
  <section class="content ac">
    <ul id="navigation-items">
      <li class="item first">
        <div class="ac">About this</div>
        <div class="ac">BOOK</div>
      </li>
      <li class="item second">
        <div class="ac">Favourite</div>
        <div class="ac">QUOTES</div>
      </li>
    </ul>
  </section>
</nav>