<footer>
	<section class="above" style="color: #FFF; font-family: Arial; font-size: 12px;">
		<div style="width: 1006px; margin: 0 auto;">
			<div class="left-column fl" style="width: 450px; padding-top: 46px;">
				<section class="recommedation-list fl">
					<span>RECOMMEDATIONS {{testo}}</span>
					<ul style="margin-top: 13px;">
						<li style="margin-top: 13px;">Start with a book</li>
						<li style="margin-top: 13px;">Start with a author</li>
						<li style="margin-top: 13px;">Start with an experience</li>
					</ul>
				</section>
				<section class="recommedation-list fl" style="width: 253px; margin-left: 30px;">
					<span>THE FINGERPRINT</span>
					<div style="margin-top: 13px;">
						Looking for a new reading adventure? Delivers better book discovery. Our recommedations are based on a deep understanding of book anatomy, reader experiences and diverse publishing insights. Learn more -->
					</ul>
				</section>
			</div>
			<div class="fl" style="width: 1px; height: 100%; background: #DDD;">&nbsp;</div>
			<div class="right-column fl" style="width: 555px; padding-top: 46px;">
				<section class="about-us-list fl" style="margin-left: 30px;">
					<span>ABOUT US</span>
					<ul style="margin-top: 13px;">
						<li style="margin-top: 13px;">About</li>
						<li style="margin-top: 13px;">Blog</li>
					</ul>
				</section>
				<section class="contact-us-list fl" style="margin-left: 30px;">
					<span>CONTACT US</span>
					<ul style="margin-top: 13px;">
						<li style="margin-top: 13px;">Advertising</li>
						<li style="margin-top: 13px;">Careers</li>
						<li style="margin-top: 13px;">Contact Us</li>
					</ul>
				</section>
				<section class="follow-us-list fl" style="margin-left: 30px;">
					<span>FOLLOW US</span>
					<ul style="margin-top: 13px;">
						<li style="margin-top: 13px;">Facebook</li>
						<li style="margin-top: 13px;">Twitter</li>
						<li style="margin-top: 13px;">Pinterest</li>
						<li style="margin-top: 13px;">Tumblr</li>
					</ul>
				</section>
				<section class="offers-list fl" style="margin-left: 30px;">
					<span>OFFERS</span>
					<ul style="margin-top: 13px;">
						<li style="margin-top: 13px;">Deals</li>
						<li style="margin-top: 13px;">On Sale</li>
					</ul>
				</section>
				<section class="offers-list fl" style="margin-left: 30px;">
					<span>SUPPORT</span>
					<ul style="margin-top: 13px;">
						<li style="margin-top: 13px;">FAQ</li>
						<li style="margin-top: 13px;">Community Guidelines</li>
						<li style="margin-top: 13px;">Support</li>
					</ul>
				</section>
			</div>
		</div>
	</section>
	<section class="below" style="color: #FFF;">
		<div style="width: 1006px; margin: 0 auto;">
			<div class="left-column fl" style="width: 450px; margin-top: 17px;">
				<section class="year fl">
					2014
				</section>
			</div>
			<div class="right-column fl" style="width: 555px; margin-top: 18px;">
				<section class="info fl">
					<ul style="list-style-type: none;">
						<li style="display: inline; margin-left: 30px;">Site Map</li>
						<li style="display: inline; margin-left: 30px;">Privacy Policy</li>
						<li style="display: inline; margin-left: 30px;">Terms of Service</li>
					</ul>
				</section>
			</div>
		</div>
	</section>
</footer>